* {
  outline: none;
}

html {
  font-family: sans-serif;
  background-color: #e6e6e6;
}

#wrapper {
  background-color: white;
  margin: 20px auto;
  max-width: 1100px;
  min-width: 1100px;
  overflow: hidden;
  width: 100%;
  box-shadow: 4px 4px 14px -1px #a4acad;
}

.top {
  background-color: #FFB4B0;
  border: 3px solid black;
  padding: 19px;
  /*width: auto;*/
  margin: 25px 90px 15px 90px;
}

.options,
#songs {
  float: left;
  min-height: 450px;
  max-height: 482px;

}

.songnamefloat {
  margin-right: 1.5em;
  font-size: 1em;
}

.space {
  margin-top: 1em;
}

.songchoices {
  margin-top: 3%;
}


/************* LEFT FLOAT STYLES ***************/

.options {
  background-color: #4DD7FA;
  border: 3px solid black;
  padding: 10px;
  border: solid 1px #d94ea;
  line-height: 28px;
  margin-left: 90px;
  width: 200px;
  margin-bottom: 25px;
    min-height: 482px;

}


/************* RIGHT FLOAT STYLES ***************/

#songs {
  background-color: #FEFAC0;
  border: 3px solid black;
  padding-left: 30px;
  padding-bottom: 50px;
  /*padding-top: 50px;*/
  border: solid 1px #d94ea;
  line-height: 50px;
  margin-left: 15px;
  width: 647px;
  overflow: scroll;
  height: 370px;
}

button {
  background-color: #e6e6e6;
  border: solid 3px black;
  font-size: 1.1em;
  border-radius: 5px;
  width: 115px;
  letter-spacing: -.03em;
  margin-left: 44px;
  margin-bottom: 15px;
}

button:hover {
  background-color: tomato;
}

button:active {
  background-color: black;
  color: white;
}


/************* DROPDOWN STYLES ***************/

select.dropdown {
  -webkit-appearance: none;
  border: 3px solid black;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  padding: 2px;
  width: 90%;
  cursor: pointer;
  background: white url(/images/drop-down-arrow.png) no-repeat right center;
  background-size: 28px 37px;
  background-border: 3px;
}


/************* CHECKBOX STYLES ***************/

.genre {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  margin-top: 6px;
  /*float: left;*/
    /*column-count: 2;*/

}
.ulGenreList {
      column-count: 2;

}

.genre:checked:after {
  content: '✔';
  font-size: 1.2em;
  /*float: left;*/
}

h4 {
  font-size: 1.9em;
  font-weight: normal;
  color: #785616;
  margin: 1px;
}


/************* LIST STYLES ***************/

ul {
/*  column-count: 2;*/
  margin-left: -2em;
  margin-top: .1em;
  margin-bottom: 50px;
}

li {
  list-style: none;
  font-size: .9em;
  /*background-color: red;*/
  /*height: 32px;*/
  /*float: left;*/
  margin-left: -.2em;
}

ul > li.stuff {
  display: inline;
  list-style-type: none;
margin: 5px 15px 0 15px;
/*background-color: goldenrod;*/
padding: 15px;
font-size: 1em;
}


/************* SLIDER STYLES ***************/

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  background: transparent;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
}

#slide::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  background: lightgrey;
  border-radius: 10px;
  border: 3px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
  margin-top: -8px;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 50px;
  background: white;
}


/************* LINK STYLES ***************/

a:hover {
  color: tomato;
}

a:active {
  color: red;
}


/*styles taken from the Readme file*/


.visible {
  display: block;
}

.hidden {
  display: none;
}

.addForm {
  border: 3px solid black;
  /*width: 200px;*/
  margin-bottom: 10px;
  height: 20px;
  font-size: 1.2em;
}

div.addCenter {
  justify-content: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
}

/*.test {
  height: 500px;
  width: 500px;
}*/
